html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.login {
    max-width: 280px;
    min-height: 800px;
    margin: 70px auto;
}

.TCenter {
    text-align: center;
}