/* Home Styles */


/* ----------------------------- */


/* Color Icons */

.f1 {
    color: blue;
}

.f2 {
    color: green;
}

.f3 {
    color: red;
}

.f4 {
    color: yellow;
}

.f5 {
    color: lightsteelblue;
}


/* ----------------------------- */


/* Afecta al posicionamiento de las imagen */

img {
    width: 350px;
    height: 200px;
    display: inline-block;
}


/* Posicion de la tabla */

.separador {
    position: absolute;
    margin-left: 800px;
    width: 320px;
    height: 20px;
    top: 240px;
    overflow: auto;
}


/* Afecta a la posicion de la escritura de la tabla */

.y {
    position: absolute;
    margin-left: 800px;
    width: 320px;
    height: 20px;
    top: 200px;
}