<head>

    <title>Prueba One</title>

    <!-- Libreria de Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Libreria de Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Mi propia libreria de esilos personalizados -->
    <link rel=StyleSheet href="./css/style.css">
    <!-- Formato de pagina -->
    <meta charset="utf-8">


</head>

<div class="container">
    <div>
        <nav class="navbar navbar-light bg-light">
            <h1 class="title"><i class="fas fa-futbol"></i>Liga de Futbolito</h1>
            <a class="nav" href="login.html"> Mi cuenta</a>
            <a class="nav" href="login.html"> Mi equipo</a>
            <a class="nav" href="login.html"> Cerrar sesion</a>
        </nav>
    </div>
    <section>

        <table class="table table-hover table-dark">
            <tr>
                <td>
                    <div class="container ">
                        <div>
                            <h5 class="f1">Posicion</h5>
                            <h2> 1 <i class="fas fa-trophy f1"></i></h2>
                        </div>
                    </div>
                </td>

                <td>
                    <div class="container">
                        <div>
                            <h5 class="f2">Partidos ganados</h5>
                            <h2>2 <i class="fas fa-chart-line f2"></i></h2>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="container">
                        <div>
                            <h5 class="f3">Partidos perdidos</h5>
                            <h2>1<i class="fas fa-times-circle f3"></i></h2>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="container">
                        <div>
                            <h5 class="f4">Partidos perdidos</h5>
                            <h2>1 <i class="fas fa-exclamation-triangle f4"> </i></h2>
                        </div>
                    </div>

                </td>
                <td>
                    <div class="container">
                        <div>
                            <h5 class="f5">Proximos partidos</h5>
                            <h2>19<i align="left" class="fas fa-exclamation-triangle f5"> </i></h2>

                        </div>
                    </div>

                </td>

            </tr>
        </table>

    </section>

    <section>
        <div>
            <h5>Goles por partido</h5>
            <img class="rounded float-left" src="images/stad.jpg">
        </div>

        <div>
            <h5>Goles por jugadores</h5>
            <img class="rounded" src="images/circle.jpg">
        </div>
    </section>

    <section>
        <div>

            <table class="table table-hover table-dark separador">
                <thead>
                    <h5 class="y">Proximos partidos</h5>
                    <tr>
                        <th>Fecha</th>
                        <th>Contrincante</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>19-04-2019</th>
                        <td>Lucho Jara FC</td>
                    </tr>
                    <tr>
                        <th>26-04-2019</th>
                        <td>Coca Juniors</td>
                    </tr>
                    <tr>
                        <th>03-05-2019</th>
                        <td>Los de 100pre</td>
                    </tr>
                    <tr>
                        <th>10-05-2019</th>
                        <td>Kathy Barriga FC</td>
                    </tr>
                    <tr>
                        <th>17-05-2019</th>
                        <td>Palitroque</td>
                    </tr>

                </tbody>
            </table>

        </div>

    </section>

</div>