<head>

    <title>Prueba One</title>

    <!-- Libreria de Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Libreria de Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Mi propia libreria de esilos personalizados -->
    <link rel=StyleSheet href="./css/formularios.css">
    <!-- Formato de pagina -->
    <meta charset="utf-8">

</head>
<section class="login">

    <form class="form-group ">
        <div class="imgcontainer">

            <img src="images/goku.jpg">
        </div>


        <div>
            <h1 class="TCenter">¿Olvidó su contraseña?</h1>

            <p>Favor ingrese su email para recuperar su cuenta</p>


            <input type="email" class="form-control" placeholder="Ingrese su email">
        </div>

        <div id="">
            <a class="btn btn-primary btn-lg btn-block" href="./login.html" role="button">Resetear contraseña</a>
        </div>
        <div class="centrar">
            <a href="registrar.html">¡Registrese!</a>
        </div>
        <div class="centrar">
            <a href=login.html>¿Ya tiene una cuenta? inicie sesión</a>
        </div>
    </form>
</section>