<head>

    <title>Prueba One</title>

    <!-- Libreria de Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Libreria de Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Mi propia libreria de esilos personalizados -->
    <link rel=StyleSheet href="css/formularios.css">

    <!-- Formato de pagina -->
    <meta charset="utf-8">

    <script src="../jquery-validator.js"></script>


</head>

<section class="login">

    <div>
        <form class="form-group " onsubmit="return validarRegistro();">
            <div class="imgcontainer">

                <img src="images/goku.jpg">
            </div>

            <h1 class="TCenter">¡Cree una cuenta!</h1>
            <div>
                <label>Nombres</label>
                <input type="text" id="nombre" class="form-control " placeholder="Ingrese sus nombres" class="required"></div>
            <div>
                <label>Apellidos</label>
                <input type="text" id="ape" class="form-control " placeholder="Ingrese sus apellidos" class="required"></div>
            <div>
                <label>Email</label>
                <input type="email" id="email" class="form-control " placeholder="Ingrese sus correo electrónico" class="required">
            </div>
            <div>
                <label>Password</label>
                <input type="password" id="pass" class="form-control " placeholder="Ingrese su contraseña" class="required">
            </div>
            <div>
                <label>Repetir password</label>
                <input type="password" if="repass" class="form-control " placeholder="Favor repita su contraseña" class="required">
            </div>
            <div>

                <input type=submit name="Registrar cuenta" id=btn-register>

                <div>
                    <a href="olvidapass.html">¿Olvidó su contraseña?</a>

                </div>

                <div>
                    <a href="login.html">¿Ya tiene una cuenta? Inicie sesión</a>

                </div>


        </form>

</section>

</div>